<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>

 
     <nav>
      <div class="logo">Brand</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/service">Services</a></li>
        <li><a routerLink="/portfolio">Gallery</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
   

</html>
 


<router-outlet></router-outlet>

